<div class="container-flui">
  {{> header}}

  <div class="container">
    {{#with user}}
    <div class="profile">
      <div class="profile__pic">
        {{#if photoURL}}
        <img src="{{ photoURL }}" alt="Profile picture">
        {{/if}}
      </div>
      <div class="profile__body">
        <dl class="u-v-gap-2">
          <dt>Name</dt>
          <dd>{{ displayName }}</dd>
          <dt>Email</dt>
          <dd>{{ email }}</dd>
          <dt>UID</dt>
          <dd>{{ uid }}</dd>
        </dl>
      </div>
    </div>
    {{/with}}
    <div class="f f-gap-2">
      <button class="btn btn-default btn-mw-sm" data-toggle="modal" data-target="#edit-profile-modal">
        <i class="fa fa-pencil"></i>
        <span>Edit</span>
      </button>
      <button class="btn btn-danger btn-mw-sm">
        <i class="fa fa-trash"></i>
        <span>Delete</span>
      </button>
    </div>

    {{#with user}}
      <p>apiKey: {{ apiKey }}</p>
      <p>authDomain: {{ authDomain }}</p>
      <p>displayName: {{ displayName }}</p>
      <p>email: {{ email }}</p>
      <p>emailVerified: {{ emailVerified }}</p>
      <p>photoURL: {{ photoURL }}</p>
      <p>uid: {{ uid }}</p>
    {{/with}}
  </div>

</div>

{{#with user}}
<div class="modal fade" id="edit-profile-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <header class="modal-header">
        <button class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
        <h3 class="modal-title">Edit profile <small>{{ uid }}</small></h3>
      </header>
      <div class="modal-body">
        <div class="form-group">
          <label for="displayName">Name</label>
          <input type="text" name="displayName" class="form-control">
        </div>
        <div class="form-group">
          <label for="photoURL">Profile picture URL</label>
          <input type="text" name="photoURL" class="form-control">
        </div>
      </div>
      <footer class="modal-footer">
        <div class="f f-align-13-2">
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary">Confirm</button>
        </div>
      </footer>
    </div>
  </div>
</div>
{{/with}}
