{{!-- <article class="post"> --}}
<header class="post__header">
  <div class="post__author">
    <div class="post__author-pic">
      {{#if author.photoURL}}
      <img src="{{ author.photoURL }}" alt="Users avatar picture">
      {{else}}
      <img src="img/user.svg" alt="Default users avatar picture">
      {{/if}}
    </div>
    <span class="post__author-name">{{ author.displayName }}</span>
  </div>
  <span class="post__time">{{ formatDate created }}</span>
</header>

<div class="post__content">
  <img src="{{ url }}" alt="{{ name }}">
</div>

<footer class="post__footer">
  <ul class="post__comments-list">
    {{#each comments}}
     <li class="post__comment">
      <span class="post__comment-author">{{ this.author }}</span>
      <span class="post__comment-text">{{ this.value }}</span>
    </li>
    {{/each}}
  </ul>
</footer>
{{!-- </article> --}}
